---
layout: page
---

<ul class="post_items">
    {% for post in paginator.resources %}
        <li>
            <span class="date">{{ post.data.date | date: "%Y-%m-%d" }}</span>&nbsp;&nbsp;&nbsp;<a href="{{ post.relative_url }}">{{ post.data.title }}</a>
            <br /><small>{{ post.data.excerpt }}</small>
        </li>
    {% endfor %}
</ul>

<br />

{% if paginator.total_pages > 1 %}
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}"><< Newer posts</a>
    {% endif %}
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}">Older posts >></a>
    {% endif %}
{% endif %}
